/* 
1--Typography system :: 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--font weights::
Default : 400 px
Medium:500
Semi-bold:600
Bold:700

--line weight::
Default:1
Small:1.05
medium:1.2
Paragraph default:1.6

--letter spacing
--0.5px
--0.75px

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


2--colors

Primary:  #e67e22

---Tints: lighter version
#fdf2e9;
#fae5d3;

---shades:: darker version

---Accents

---Grays: #555 , #333

 #6f6f6f: lighest gray allowed on this one:#fdf2e9;

5--- Shadows

6--- border radius

Default : 9px

7---  Whitespace

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 10px; */
  /* 10px/16px = 0.625 =62.5% */
  /* Percentage of user's browser font-size setting  */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* *************************************************** */
/* General components or Reusable  */

/* *************************************************** */
/* for lecture 111 and it is very important and u should know that */
.container {
  /* 1140px */
  /* max width what it does when the view port width shrinks , it would reduce the container element width also so can be less than 1200 px */
  max-width: 120rem;
  /* auto  would give the same margin to the left and right side and figuare it out automatically*/
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* exact same thing as writing 1fr 1fr */
  grid-template-columns: repeat(2, 1fr);

  /* margin-bottom: 9.6rem; */
}

/* do not want vertically this margin bottem everywhere */
/* when the grid is the last child */
/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

/* if we want another section has 3 cloumns instead of the 2 , we can export the style from the grid class and make another class */

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #2e1907; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;

  /* put the transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  /* remove the text decoration and do it in this way */
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  /* in order to remove the effect of the border when the mouse hover on the link , this is the usual style */
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* Helper classes */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottem-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
